openapi: 3.1.0
info:
  title: Betazen Server Panel — Public API
  version: "3.1.28"
  summary: |
    Programmatic + JWT-authenticated surface for the Betazen Server Panel.
    Use the **External (token-authenticated)** endpoints for headless
    integrations, the **Auth** endpoints to drive an interactive panel
    session, and the **Developer** endpoints to manage tokens + outbound
    webhook subscriptions.
  description: |
    ## Authentication

    Two distinct schemes coexist:

    | Surface             | Header                                        | Issued by                              |
    |---------------------|-----------------------------------------------|----------------------------------------|
    | `/api/v1/external/*`| `Authorization: Bearer btz_<env>_<id>_<secret>` | Developer ▸ API Tokens (one-shot view) |
    | `/api/v1/auth/*` and `/api/v1/whm/*` and `/api/v1/cpanel/*` | `Authorization: Bearer <jwt>` | `POST /api/v1/auth/login` |
    | Inbound webhook receivers | none — HMAC-verified `X-Betazen-Signature` | (the panel pushes to your URL)     |

    ## Response envelope

    Every JSON response uses one of two shapes:

    ```json
    { "success": true,  "data": {...}, "error": null }
    { "success": false, "data": null,  "error": { "code": "VALIDATION_FAILED", "message": "...", "fields": {...} } }
    ```

    Paginated list endpoints add `pagination: { page, limit, total, total_pages }`.

    ## Rate limits

    External tokens default to **600 reads/min, 60 writes/min**. JWT
    sessions inherit `RATE_LIMIT_WHM` / `RATE_LIMIT_CPANEL` from the
    server config. A `429` response carries a `Retry-After` header.

    ## Webhooks

    See the [Webhooks](./webhooks.html) page for the outbound delivery
    headers, signature verification recipe, retry policy, and event
    catalogue.
  contact:
    name: BetaZen InfoTech
    url: https://betazeninfotech.com
    email: support@betazeninfotech.com
  license:
    name: BetaZen Source-Available v1.0
    url: https://github.com/BetaZen-InfoTech/server-management/blob/main/LICENSE

servers:
  - url: https://panel.betazeninfotech.com
    description: Hosted reference panel
  - url: https://{panel_host}
    description: Self-hosted instance
    variables:
      panel_host:
        default: panel.example.com

tags:
  - name: Auth
    description: Public login / refresh / OTP / forgot-password / current-user.
  - name: External — Domains
    description: Token-authenticated domain provisioning.
  - name: External — SSL
    description: Token-authenticated SSL issuance + Force-HTTPS toggle.
  - name: External — Email
    description: Token-authenticated mailbox + forwarder management.
  - name: External — Deploy Software
    description: Token-authenticated link/unlink of domains to project services.
  - name: External — Cloudflare
    description: Token-authenticated connect + Cloudflare nameserver retrieval (scopes cloudflare:read / cloudflare:write).
  - name: External — Guest links
    description: Mint one-time, browser-locked, single-domain guest links (scope guest:create).
  - name: Guest session
    description: >-
      The no-login surface a guest link opens (cookie-authed, driven by the
      User Panel SPA at /user-panel/m/:token). Integrators do NOT call these
      directly — they only mint the link (External — Guest links) and redirect
      the user. Listed for completeness. Every call is hard-scoped to the one
      domain on the session.
  - name: Developer — API Tokens
    description: Create / rotate / revoke API tokens (JWT-authenticated).
  - name: Developer — Webhooks
    description: Manage outbound webhook subscriptions (JWT-authenticated).
  - name: Inbound Webhooks
    description: Endpoints the panel exposes for GitHub auto-deploy.

# ─── Security schemes ─────────────────────────────────────────────────
components:
  securitySchemes:
    bearerJwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Issued by `POST /api/v1/auth/login`. Required for `/api/v1/auth/me`,
        `/api/v1/whm/*`, `/api/v1/cpanel/*`, and the Developer surface.
    bearerApiToken:
      type: http
      scheme: bearer
      bearerFormat: btz
      description: |
        Plaintext token returned **once** by
        `POST /api/v1/whm/developer/tokens` (or the cPanel mirror).
        Format: `btz_<env>_<id>_<secret>`. Required for
        `/api/v1/external/*`. Each token carries a fixed scope set
        (e.g. `domain:write`, `email:webmail`); routes that need a
        scope you don't have return `403`.
    guestCookie:
      type: apiKey
      in: cookie
      name: bz_guest_sess
      description: |
        HttpOnly session cookie set by `POST /api/v1/guest/redeem` when a
        one-time guest link is first opened. Carries a short-lived
        `role="guest"` JWT; the companion `bz_guest_bind` cookie locks the
        session to the first browser. Both are set/sent automatically by the
        browser — there is no Authorization header on the guest surface.

  # ─── Reusable schemas ───────────────────────────────────────────────
  schemas:
    Envelope:
      type: object
      required: [success]
      properties:
        success: { type: boolean }
        data:    { nullable: true }
        error:
          nullable: true
          $ref: "#/components/schemas/Error"
        pagination:
          nullable: true
          $ref: "#/components/schemas/Pagination"

    Error:
      type: object
      properties:
        code:    { type: string, example: "VALIDATION_FAILED" }
        message: { type: string, example: "domain is required" }
        fields:
          type: object
          additionalProperties: { type: string }
          example: { domain: "must be a valid hostname" }

    Pagination:
      type: object
      properties:
        page:        { type: integer, example: 1 }
        limit:       { type: integer, example: 20 }
        total:       { type: integer, example: 42 }
        total_pages: { type: integer, example: 3 }

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:       { type: string, format: email }
        password:    { type: string, format: password }
        remember_me: { type: boolean, default: false }

    LoginResponse:
      type: object
      properties:
        access_token:  { type: string, description: "JWT, 4h default TTL" }
        refresh_token: { type: string, description: "Opaque, 7d default TTL (30d when remember_me=true)" }
        expires_in:    { type: integer, example: 14400 }
        token_type:    { type: string, example: "Bearer" }
        user:          { $ref: "#/components/schemas/User" }

    User:
      type: object
      properties:
        id:       { type: string }
        username: { type: string }
        email:    { type: string, format: email }
        name:     { type: string }
        role:
          type: string
          enum: [vendor_owner, vendor_admin, vendor_staff, developer, support, customer]
        permissions:
          type: array
          items: { type: string }

    Domain:
      type: object
      properties:
        id:                  { type: string }
        domain:              { type: string, example: "example.com" }
        user:                { type: string, example: "konsultkaro" }
        php_version:         { type: string, example: "8.2" }
        disk_quota_mb:       { type: integer, example: 5120 }
        bandwidth_limit_gb:  { type: integer, example: 100 }
        ssl_active:          { type: boolean }
        force_ssl:           { type: boolean }
        status:
          type: string
          enum: [active, suspended, pending]
        environment:
          type: string
          enum: [prod, dev, test, local]
          default: prod
          description: >-
            Operator-chosen deployment tier. Distinct from the structural
            domain_type (primary/subdomain/addon). Empty on legacy rows;
            treated as "prod".
        registrar:    { type: string, nullable: true }
        registered_on: { type: string, format: date, nullable: true }
        expires_on:   { type: string, format: date, nullable: true }
        auto_renew:   { type: boolean }
        created_at:   { type: string, format: date-time }
        updated_at:   { type: string, format: date-time }

    CreateDomainRequest:
      type: object
      required: [domain, user, php_version]
      properties:
        domain:      { type: string }
        user:        { type: string, description: "Linux account that owns the vhost" }
        php_version:
          type: string
          enum: ["7.4", "8.0", "8.1", "8.2", "8.3"]
          default: "8.2"
        environment:
          type: string
          enum: [prod, dev, test, local]
          default: prod
          description: >-
            Deployment tier for the new domain/subdomain. Empty or
            unrecognised values normalise to "prod" server-side.
        registrar:    { type: string }
        registered_on: { type: string, format: date }
        expires_on:   { type: string, format: date }
        auto_renew:   { type: boolean }

    MintGuestLinkRequest:
      type: object
      required: [domain]
      properties:
        domain:                { type: string, example: "acme-store.com" }
        max_mailboxes:         { type: integer, default: 5, description: "Max mailboxes the guest may have on the domain" }
        default_quota_mb:      { type: integer, default: 1024, description: "Storage quota applied to mailboxes the guest creates" }
        default_send_per_hour: { type: integer, default: 200, description: "Hourly send limit applied to mailboxes the guest creates" }

    IssuedGuestLink:
      type: object
      properties:
        url:        { type: string, description: "One-time login URL — redirect the end-user here. Shown only once.", example: "https://panel.example.com/user-panel/m/gst_prod_ab12cd34_…" }
        link_type:  { type: string, enum: [email, email_dns], description: "email = subdomain (email only); email_dns = main domain (email + restricted DNS)" }
        domain:     { type: string }
        expires_at: { type: string, format: date-time, description: "Deadline by which the link must be FIRST opened (24h)" }
        token:      { type: string, description: "Raw plaintext token embedded in the URL" }

    Mailbox:
      type: object
      properties:
        id:                  { type: string }
        email:               { type: string, format: email }
        domain:              { type: string }
        quota_mb:            { type: integer, example: 1024 }
        send_limit_per_hour: { type: integer, example: 200 }
        created_at:          { type: string, format: date-time }

    CreateMailboxRequest:
      type: object
      required: [email, password]
      properties:
        email:               { type: string, format: email }
        password:            { type: string, format: password, minLength: 8 }
        quota_mb:            { type: integer, default: 1024 }
        send_limit_per_hour: { type: integer, default: 200 }

    ProjectService:
      type: object
      description: One Deploy Software service. Belongs to a parent Project.
      properties:
        id:              { type: string }
        project_id:      { type: string }
        name:            { type: string, example: "web" }
        role:
          type: string
          enum: [backend, frontend, static]
        framework:       { type: string, example: "nextjs", description: "Preset key. Empty = custom commands." }
        git_repo_url:    { type: string, format: uri }
        git_branch:      { type: string, example: "main" }
        git_subpath:     { type: string, example: "apps/web", description: "Monorepo subdirectory; empty = repo root." }
        primary_domain:  { type: string, example: "shop.example.com" }
        alias_domains:
          type: array
          items: { type: string }
          description: "Legacy merged-alias domains (pre-3.1.117). New domains use attached_domains."
        attached_domains:
          type: array
          items: { type: string }
          description: "Durably-attached domains serving this service (v3.1.117+): each gets its OWN reverse-proxy vhost + Let's Encrypt cert and a proxy_service_id link on the Domain record, so edits / SSL reissue / server migration can't drop it."
        path_prefix:     { type: string, example: "/", description: "Reverse-proxy mount point on the primary domain." }
        install_cmd:     { type: string }
        build_cmd:       { type: string }
        start_cmd:       { type: string }
        runtime_version: { type: string, example: "20.18.0" }
        port:            { type: integer, example: 3050 }
        env_vars:
          type: object
          additionalProperties: { type: string }
        user:            { type: string, description: "Linux account that runs the systemd unit." }
        install_dir:     { type: string, description: "On-disk service work dir." }
        systemd_unit:    { type: string, example: "sp-proj-storefront-web" }
        status:
          type: string
          enum: [running, stopped, failed, needs_env_vars, building]
        last_commit_sha: { type: string }
        last_deployed_at: { type: string, format: date-time, nullable: true }
        created_at:      { type: string, format: date-time }
        updated_at:      { type: string, format: date-time }

    SSLIssueRequest:
      type: object
      properties:
        wildcard: { type: boolean, default: false }
        # Email is optional — backend resolves admin@<owning-vendor>
        # automatically when omitted.
        email:    { type: string, format: email }

    ApiTokenCreateRequest:
      type: object
      required: [name, scopes]
      properties:
        name:    { type: string, example: "deploy-bot" }
        scopes:
          type: array
          items:
            type: string
            enum: [domain:read, domain:write, email:read, email:write, email:webmail, email:password, ssl:read, ssl:write, deploy:read, deploy:link, webhook:manage, guest:create, cloudflare:read, cloudflare:write]
        pinned_vendor_id:
          type: string
          description: "vendor_owner only — locks every call from this token to the named vendor's tenant. vendor_admin tokens cannot set this field."
        expires_at:
          type: string
          format: date-time
          description: "Optional hard expiry. Omit for no expiry."

    ApiTokenCreateResponse:
      type: object
      properties:
        id:        { type: string }
        prefix:    { type: string, example: "btz_prod_a1b2" }
        plaintext:
          type: string
          description: "FULL token — only ever returned once on create or rotate. Bcrypt-hashed server-side."
          example: "btz_prod_a1b2c3d4e5f601020304_aabbccddeeff..."

    WebhookEndpointCreateRequest:
      type: object
      required: [url, events]
      properties:
        url:    { type: string, format: uri, example: "https://hooks.example.com/betazen" }
        events:
          type: array
          minItems: 1
          items:
            type: string
            enum:
              - domain.created
              - domain.deleted
              - ssl.issued
              - ssl.renewed
              - ssl.forced
              - email.mailbox.created
              - email.mailbox.deleted
              - email.forwarder.created
              - email.message.received
              - deploy.linked
              - deploy.unlinked
              - deploy.completed
              - deploy.failed
        description: { type: string }
        active:      { type: boolean, default: true }

    WebhookEndpointCreateResponse:
      type: object
      properties:
        id: { type: string }
        signing_secret:
          type: string
          description: "FULL HMAC secret — only ever returned once on create or rotate. Use this to verify X-Betazen-Signature on incoming deliveries."

# ─── Paths ────────────────────────────────────────────────────────────
paths:
  # ── Auth ──────────────────────────────────────────────────────────
  /api/v1/auth/login:
    post:
      tags: [Auth]
      summary: Sign in with email + password
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LoginRequest" }
      responses:
        "200":
          description: Login OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/LoginResponse" }
        "401": { description: Invalid credentials }

  /api/v1/auth/refresh:
    post:
      tags: [Auth]
      summary: Rotate refresh + access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
      responses:
        "200":
          description: New token pair
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/LoginResponse" }
        "401": { description: Invalid or expired refresh token }

  /api/v1/auth/me:
    get:
      tags: [Auth]
      summary: Current signed-in user
      security: [{ bearerJwt: [] }]
      responses:
        "200":
          description: User profile
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties: { data: { $ref: "#/components/schemas/User" } }

  /api/v1/auth/forgot-password:
    post:
      tags: [Auth]
      summary: Request a password-reset email
      description: |
        Returns a generic success even when the email doesn't match
        an account — enumeration-resistant by design. The reset link
        is bound to the requesting browser via an HTTP-only cookie.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:   { type: string, format: email }
                surface:
                  type: string
                  enum: [whm, user-panel]
                  description: "Which panel to point the reset link at. Optional — defaults by user role."
      responses:
        "200": { description: "Generic success ('if that email exists, a reset link has been sent')" }

  /api/v1/auth/reset-password:
    post:
      tags: [Auth]
      summary: Consume a password-reset token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, new_password]
              properties:
                token:        { type: string }
                new_password: { type: string, format: password, minLength: 8 }
      responses:
        "200": { description: Password updated }
        "400": { description: Token invalid or expired }

  /api/v1/auth/otp/request:
    post:
      tags: [Auth]
      summary: Request a passwordless email login code
      description: |
        Sets a `bz_otp_bind` HTTP-only cookie on the requesting
        browser. `/auth/otp/verify` requires the cookie back, which
        defeats the "magic URL pasted into another browser" attack.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:   { type: string, format: email }
                surface: { type: string, enum: [whm, user-panel] }
      responses:
        "200": { description: Generic success }

  /api/v1/auth/otp/verify:
    post:
      tags: [Auth]
      summary: Consume an OTP and sign in
      description: |
        Requires the `bz_otp_bind` cookie set by `/auth/otp/request`.
        A wrong-browser request returns a typed error so the operator
        gets a useful recovery hint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, code]
              properties:
                email: { type: string, format: email }
                code:  { type: string, example: "A1B2C3D4E5" }
      responses:
        "200":
          description: Login OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/LoginResponse" }
        "401": { description: Invalid / expired / wrong-browser }

  /api/v1/auth/otp/cancel:
    post:
      tags: [Auth]
      summary: Revoke pending OTPs for the requesting browser
      description: |
        Powers the "Dismiss this session" button on the OTP page —
        kills the magic URL + code so a leaked link can't be redeemed.
        Only the originating browser can dismiss (binding cookie required).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        "200": { description: Pending OTPs revoked (or nothing was pending) }

  # ── External — Domains ───────────────────────────────────────────
  /api/v1/external/domains:
    get:
      tags: [External — Domains]
      summary: List domains visible to this token
      description: "Required scope: `domain:read`."
      security: [{ bearerApiToken: [] }]
      parameters:
        - in: query
          name: page
          schema: { type: integer, default: 1 }
        - in: query
          name: limit
          schema: { type: integer, default: 20, maximum: 100 }
        - in: query
          name: search
          schema: { type: string }
      responses:
        "200":
          description: Paginated list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Domain" }
        "403": { description: Token lacks `domain:read` scope }
    post:
      tags: [External — Domains]
      summary: Create a domain
      description: "Required scope: `domain:write`."
      security: [{ bearerApiToken: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateDomainRequest" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties: { data: { $ref: "#/components/schemas/Domain" } }
        "403": { description: Token lacks `domain:write` scope }

  # ── External — Cloudflare ────────────────────────────────────────
  /api/v1/external/cloudflare/{domain}:
    get:
      tags: [External — Cloudflare]
      summary: Cloudflare status + nameservers for a domain
      description: >
        Returns whether the domain is connected to the panel's Cloudflare
        account, its zone status, and the assigned nameservers.
        Required scope: `cloudflare:read`. The token must own the domain.
      security: [{ bearerApiToken: [] }]
      parameters:
        - in: path
          name: domain
          required: true
          schema: { type: string }
          example: example.com
      responses:
        "200":
          description: Zone status. `connected:false` when the domain has no Cloudflare zone yet.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          connected:   { type: boolean }
                          zone_id:     { type: string }
                          status:      { type: string, example: active }
                          nameservers: { type: array, items: { type: string } }
        "400": { description: Cloudflare not enabled / not configured on the panel }
        "403": { description: Token lacks `cloudflare:read` scope or does not own the domain }
  /api/v1/external/cloudflare/{domain}/nameservers:
    get:
      tags: [External — Cloudflare]
      summary: Get a domain's Cloudflare nameservers
      description: >
        The value you hand back to the end customer to set at their registrar.
        Required scope: `cloudflare:read`. Returns 404 until the domain has been
        connected (`POST .../connect`).
      security: [{ bearerApiToken: [] }]
      parameters:
        - in: path
          name: domain
          required: true
          schema: { type: string }
          example: example.com
      responses:
        "200":
          description: The zone's assigned nameservers.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          domain:      { type: string, example: example.com }
                          zone_id:     { type: string }
                          status:      { type: string, example: pending }
                          nameservers:
                            type: array
                            items: { type: string }
                            example: [dana.ns.cloudflare.com, rob.ns.cloudflare.com]
        "404": { description: Domain not connected to Cloudflare yet — POST .../connect first }
  /api/v1/external/cloudflare/{domain}/connect:
    post:
      tags: [External — Cloudflare]
      summary: Connect a domain to Cloudflare (find-or-create zone)
      description: >
        Finds the domain's Cloudflare zone or creates it (never duplicates) and
        returns the assigned nameservers. Uses the panel owner's centralized
        Cloudflare account. Required scope: `cloudflare:write`.
      security: [{ bearerApiToken: [] }]
      parameters:
        - in: path
          name: domain
          required: true
          schema: { type: string }
          example: example.com
      responses:
        "200":
          description: Connected. `created:true` when a new zone was made.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          domain:      { type: string }
                          zone_id:     { type: string }
                          status:      { type: string }
                          nameservers: { type: array, items: { type: string } }
                          created:     { type: boolean }
        "400": { description: Cloudflare not enabled / not configured on the panel }
        "403": { description: Token lacks `cloudflare:write` scope or does not own the domain }

  # ── External — Guest links ───────────────────────────────────────
  /api/v1/external/guest-links:
    post:
      tags: [External — Guest links]
      summary: Mint a one-time, browser-locked guest link for one domain
      description: >-
        Required scope: `guest:create`. Returns a one-time login URL the
        integrator redirects an end-user to. The link grants a no-login,
        single-domain session: 30 minutes from first open, locked to the first
        browser that opens it. Main domains get Email + restricted DNS (no zone
        create/delete, no apex `@` A/AAAA); subdomains get Email only. The link
        type is auto-derived from whether the domain is a subdomain of a
        panel-managed zone.
      security: [{ bearerApiToken: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MintGuestLinkRequest" }
      responses:
        "201":
          description: Created — the URL is shown only once
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties: { data: { $ref: "#/components/schemas/IssuedGuestLink" } }
        "400": { description: Domain not found / not in this token's tenant }
        "403": { description: Token lacks `guest:create` scope }

  # ── Guest session (cookie-authed, SPA-driven) ───────────────────
  /api/v1/guest/redeem:
    post:
      tags: [Guest session]
      summary: Open a guest link (first-open binds the browser)
      description: >-
        PUBLIC + IP rate-limited. Called by the magic-link page on load with
        the token from the URL. The first successful call binds the link to
        this browser (sets `bz_guest_bind` + `bz_guest_sess` HttpOnly cookies)
        and starts the 30-minute window; any later call from a different
        browser is rejected. Same browser re-opening within the window is fine.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string, description: "The gst_… token from the magic URL" }
      responses:
        "200":
          description: Session established (cookies set)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          domain: { type: string }
                          link_type: { type: string, enum: [email, email_dns] }
                          window_expires_at: { type: string, format: date-time }
        "401": { description: Invalid / expired link, or already opened in another browser }
  /api/v1/guest/session:
    get:
      tags: [Guest session]
      summary: Current guest session (domain, limits, usage, countdown)
      security: [{ guestCookie: [] }]
      responses:
        "200": { description: "{ domain, link_type, max_mailboxes, default_quota_mb, default_send_per_hour, mailbox_count, window_expires_at }" }
        "401": { description: No / expired session }
  /api/v1/guest/logout:
    post:
      tags: [Guest session]
      summary: Clear the guest session cookies
      security: [{ guestCookie: [] }]
      responses:
        "200": { description: Signed out }
  /api/v1/guest/mailboxes:
    get:
      tags: [Guest session]
      summary: List the domain's mailboxes
      security: [{ guestCookie: [] }]
      responses:
        "200":
          description: Paginated mailboxes for the session domain
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties: { data: { type: array, items: { $ref: "#/components/schemas/Mailbox" } } }
    post:
      tags: [Guest session]
      summary: Create a mailbox (domain forced; quota + send-limit from the link)
      description: >-
        `email` may be a bare local part ("info") or a full address in the
        session domain. Rejected with 403 once the link's `max_mailboxes` cap
        is reached. Quota + hourly send-limit are forced to the link defaults.
      security: [{ guestCookie: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, example: "info" }
                password: { type: string, format: password, minLength: 8 }
      responses:
        "201": { description: Created — single Mailbox }
        "403": { description: Mailbox limit reached }
  /api/v1/guest/mailboxes/{addr}:
    parameters:
      - in: path
        name: addr
        required: true
        schema: { type: string }
        description: Local part (or full address) within the session domain
    patch:
      tags: [Guest session]
      summary: Update a mailbox (quota / send-limit / password)
      security: [{ guestCookie: [] }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                quota_mb: { type: integer }
                send_limit_per_hour: { type: integer }
                password: { type: string, format: password, minLength: 8 }
      responses:
        "200": { description: Updated Mailbox }
    delete:
      tags: [Guest session]
      summary: Delete a mailbox
      security: [{ guestCookie: [] }]
      responses:
        "200": { description: Deleted }
  /api/v1/guest/mailboxes/{addr}/password:
    parameters:
      - { in: path, name: addr, required: true, schema: { type: string } }
    post:
      tags: [Guest session]
      summary: Reset a mailbox password
      security: [{ guestCookie: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties: { password: { type: string, format: password, minLength: 8 } }
      responses:
        "200": { description: Password updated }
  /api/v1/guest/mailboxes/{addr}/webmail-link:
    parameters:
      - { in: path, name: addr, required: true, schema: { type: string } }
    post:
      tags: [Guest session]
      summary: Mint a one-click Roundcube SSO link for the mailbox
      security: [{ guestCookie: [] }]
      responses:
        "200": { description: "{ url, token, expires_in }" }
  /api/v1/guest/forwarders:
    get:
      tags: [Guest session]
      summary: List the domain's forwarders
      security: [{ guestCookie: [] }]
      responses:
        "200": { description: Forwarders for the session domain }
    post:
      tags: [Guest session]
      summary: Create a forwarder (source forced into the session domain)
      security: [{ guestCookie: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [source, destinations]
              properties:
                source: { type: string, example: "sales" }
                destinations: { type: array, items: { type: string } }
                keep_copy: { type: boolean, default: false }
      responses:
        "201": { description: Created forwarder }
  /api/v1/guest/forwarders/{id}:
    delete:
      tags: [Guest session]
      summary: Delete a forwarder (must belong to the session domain)
      security: [{ guestCookie: [] }]
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        "200": { description: Deleted }
  /api/v1/guest/dns/records:
    get:
      tags: [Guest session]
      summary: List DNS records (email_dns links / main domains only)
      security: [{ guestCookie: [] }]
      responses:
        "200": { description: Records for the session zone }
        "403": { description: Link is email-only (subdomain) }
    post:
      tags: [Guest session]
      summary: Add a DNS record (apex @ A/AAAA blocked)
      security: [{ guestCookie: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, name, value]
              properties:
                type: { type: string, example: "A" }
                name: { type: string, example: "www" }
                value: { type: string }
                ttl: { type: integer, default: 3600 }
                priority: { type: integer }
      responses:
        "201": { description: Created record }
        "403": { description: Apex @ A/AAAA, or link is email-only }
  /api/v1/guest/dns/records/{id}:
    parameters:
      - { in: path, name: id, required: true, schema: { type: string } }
    patch:
      tags: [Guest session]
      summary: Update a DNS record (apex @ A/AAAA blocked)
      security: [{ guestCookie: [] }]
      responses:
        "200": { description: Updated record }
        "403": { description: Apex @ A/AAAA, or link is email-only }
    delete:
      tags: [Guest session]
      summary: Delete a DNS record (apex @ A/AAAA blocked)
      security: [{ guestCookie: [] }]
      responses:
        "200": { description: Deleted }
        "403": { description: Apex @ A/AAAA, or link is email-only }

  # ── External — SSL ───────────────────────────────────────────────
  /api/v1/external/ssl/{domain}/issue:
    post:
      tags: [External — SSL]
      summary: Issue a Let's Encrypt certificate
      description: "Required scope: `ssl:write`. ACME email is auto-resolved from the owning vendor unless you pass an override."
      security: [{ bearerApiToken: [] }]
      parameters:
        - in: path
          name: domain
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SSLIssueRequest" }
      responses:
        "200": { description: Cert issued (or already on disk and reattached) }

  /api/v1/external/ssl/{domain}/force:
    post:
      tags: [External — SSL]
      summary: Toggle Force-HTTPS
      description: "Required scope: `ssl:write`."
      security: [{ bearerApiToken: [] }]
      parameters:
        - in: path
          name: domain
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enable]
              properties: { enable: { type: boolean } }
      responses:
        "200": { description: nginx vhost rewritten + reloaded }

  # ── External — Email ─────────────────────────────────────────────
  /api/v1/external/email/{domain}/mailboxes:
    get:
      tags: [External — Email]
      summary: List mailboxes for a domain
      description: "Required scope: `email:read`."
      security: [{ bearerApiToken: [] }]
      parameters:
        - in: path
          name: domain
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Mailbox list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Mailbox" }
    post:
      tags: [External — Email]
      summary: Create a mailbox
      description: "Required scope: `email:write`."
      security: [{ bearerApiToken: [] }]
      parameters:
        - in: path
          name: domain
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateMailboxRequest" }
      responses:
        "201":
          description: Mailbox created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties: { data: { $ref: "#/components/schemas/Mailbox" } }

  /api/v1/external/email/{domain}/mailboxes/{addr}:
    delete:
      tags: [External — Email]
      summary: Delete a mailbox
      description: "Required scope: `email:write`. Maildir is soft-deleted under `/var/vmail/.deleted/` for 30 days."
      security: [{ bearerApiToken: [] }]
      parameters:
        - { in: path, name: domain, required: true, schema: { type: string } }
        - { in: path, name: addr,   required: true, schema: { type: string }, description: "Local part OR full email" }
      responses:
        "200": { description: Deleted }

  /api/v1/external/email/{domain}/mailboxes/{addr}/webmail-link:
    post:
      tags: [External — Email]
      summary: Mint a Roundcube SSO URL
      description: |
        Required scope: `email:webmail`. Returns a one-shot URL the
        user can follow into Roundcube without typing their mailbox
        password. Token in the URL expires in 5 minutes.
      security: [{ bearerApiToken: [] }]
      parameters:
        - { in: path, name: domain, required: true, schema: { type: string } }
        - { in: path, name: addr,   required: true, schema: { type: string } }
      responses:
        "200":
          description: SSO URL
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: object
                        properties:
                          url:        { type: string, format: uri }
                          expires_in: { type: integer, example: 300 }

  /api/v1/external/email/{domain}/forwarders:
    get:
      tags: [External — Email]
      summary: List forwarders for a domain
      description: "Required scope: `email:read`."
      security: [{ bearerApiToken: [] }]
      parameters:
        - { in: path, name: domain, required: true, schema: { type: string } }
      responses:
        "200": { description: Forwarder list }
    post:
      tags: [External — Email]
      summary: Create a forwarder
      description: "Required scope: `email:write`."
      security: [{ bearerApiToken: [] }]
      parameters:
        - { in: path, name: domain, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [source, destinations]
              properties:
                source:       { type: string, example: "info" }
                destinations:
                  type: array
                  items: { type: string, format: email }
      responses:
        "201": { description: Forwarder created }

  # ── External — Deploy Software ───────────────────────────────────
  /api/v1/external/deploy/services:
    get:
      tags: [External — Deploy Software]
      summary: List every Deploy Software service across all projects
      description: |
        Required scope: `deploy:read`. Returns a paginated, flat
        inventory of every service the calling token can see, with
        each row carrying its parent project's `project_name`,
        `project_slug`, and `project_user` so consumers can render
        context without a second round-trip per project.

        Tenant scoping mirrors the Projects list — vendors only see
        services belonging to projects in their own tenant.
      security: [{ bearerApiToken: [] }]
      parameters:
        - in: query
          name: page
          schema: { type: integer, default: 1, minimum: 1 }
        - in: query
          name: limit
          schema: { type: integer, default: 50, maximum: 500 }
        - in: query
          name: search
          description: "Case-insensitive substring match against the service name OR primary_domain."
          schema: { type: string }
      responses:
        "200":
          description: Paginated service inventory
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: array
                        items:
                          allOf:
                            - $ref: "#/components/schemas/ProjectService"
                            - type: object
                              properties:
                                project_name: { type: string, example: "Storefront" }
                                project_slug: { type: string, example: "storefront" }
                                project_user: { type: string, example: "konsultkaro" }
                      pagination: { $ref: "#/components/schemas/Pagination" }
        "403": { description: Token lacks `deploy:read` scope }

  /api/v1/external/deploy/projects/{id}/services/{svc}/link-domain:
    post:
      tags: [External — Deploy Software]
      summary: Attach a domain to a project service
      description: >
        Required scope: `deploy:link`. **Durably attaches** a registered domain to the
        service (v3.1.117+): the domain gets its OWN nginx reverse-proxy vhost + its own
        Let's Encrypt certificate and a `proxy_service_id` link on the Domain record, so a
        later service edit, SSL reissue, or server migration can never drop it. The domain
        must already be registered under Domains and owned by the caller's tenant.
      security: [{ bearerApiToken: [] }]
      parameters:
        - { in: path, name: id,  required: true, schema: { type: string } }
        - { in: path, name: svc, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [domain]
              properties:
                domain: { type: string, description: "A registered domain owned by the caller." }
      responses:
        "200": { description: "Domain attached — its own reverse-proxy vhost + cert created. Returns the service (includes attached_domains; ssl_warning is set if DNS isn't pointing here yet)." }

  /api/v1/external/deploy/projects/{id}/services/{svc}/link-domain/{domain}:
    delete:
      tags: [External — Deploy Software]
      summary: Detach a domain from a project service
      description: >
        Required scope: `deploy:link`. Detaches the domain: clears its `proxy_service_id`
        link and restores the domain's own base vhost (PHP-FPM, or a placeholder if it
        isn't a registered Domain). The certificate is **not** revoked (preserves uptime
        and avoids burning a Let's Encrypt rate-limit slot).
      security: [{ bearerApiToken: [] }]
      parameters:
        - { in: path, name: id,     required: true, schema: { type: string } }
        - { in: path, name: svc,    required: true, schema: { type: string } }
        - { in: path, name: domain, required: true, schema: { type: string } }
      responses:
        "200": { description: Domain detached, its own base vhost restored }

  # ── Panel (JWT) — Deploy Software flat inventory ─────────────────
  /api/v1/whm/projects/services:
    get:
      tags: [External — Deploy Software]
      summary: WHM-side flat service inventory (JWT)
      description: |
        Same response shape as `GET /api/v1/external/deploy/services`,
        but authenticated with the operator's JWT instead of an API
        token. Used by the panel's own dashboard widgets and by
        scripts driven from a logged-in admin session. Requires the
        `deploy.manage` panel permission.

        The User Panel mirror is `GET /api/v1/cpanel/projects/services`
        and applies the caller's tenant scope automatically.
      security: [{ bearerJwt: [] }]
      parameters:
        - in: query
          name: page
          schema: { type: integer, default: 1, minimum: 1 }
        - in: query
          name: limit
          schema: { type: integer, default: 50, maximum: 500 }
        - in: query
          name: search
          schema: { type: string }
      responses:
        "200":
          description: Paginated service inventory
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data:
                        type: array
                        items:
                          allOf:
                            - $ref: "#/components/schemas/ProjectService"
                            - type: object
                              properties:
                                project_name: { type: string }
                                project_slug: { type: string }
                                project_user: { type: string }
                      pagination: { $ref: "#/components/schemas/Pagination" }

  # ── Developer — API Tokens ───────────────────────────────────────
  /api/v1/whm/developer/tokens:
    get:
      tags: [Developer — API Tokens]
      summary: List API tokens
      security: [{ bearerJwt: [] }]
      responses:
        "200": { description: Tokens (hashed; plaintext not returned) }
    post:
      tags: [Developer — API Tokens]
      summary: Create an API token
      security: [{ bearerJwt: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ApiTokenCreateRequest" }
      responses:
        "201":
          description: |
            Plaintext returned EXACTLY ONCE. Store it in your secret
            manager — there is no way to retrieve it again.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/ApiTokenCreateResponse" }

  /api/v1/whm/developer/tokens/{id}/rotate:
    post:
      tags: [Developer — API Tokens]
      summary: Rotate the secret half (returns new plaintext once)
      security: [{ bearerJwt: [] }]
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        "200": { description: New plaintext returned (old token immediately invalid) }

  /api/v1/whm/developer/tokens/{id}:
    delete:
      tags: [Developer — API Tokens]
      summary: Revoke a token
      security: [{ bearerJwt: [] }]
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses:
        "200": { description: Revoked }

  /api/v1/whm/developer/tokens/scopes:
    get:
      tags: [Developer — API Tokens]
      summary: Catalogue of scopes the caller can grant
      security: [{ bearerJwt: [] }]
      responses:
        "200": { description: Scopes (filtered to what the caller's role allows) }

  # ── Developer — Webhooks ─────────────────────────────────────────
  /api/v1/whm/developer/webhooks:
    get:
      tags: [Developer — Webhooks]
      summary: List webhook endpoints
      security: [{ bearerJwt: [] }]
      responses: { "200": { description: List } }
    post:
      tags: [Developer — Webhooks]
      summary: Create a webhook endpoint
      security: [{ bearerJwt: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/WebhookEndpointCreateRequest" }
      responses:
        "201":
          description: Signing secret returned ONCE
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - properties:
                      data: { $ref: "#/components/schemas/WebhookEndpointCreateResponse" }

  /api/v1/whm/developer/webhooks/{id}:
    patch:
      tags: [Developer — Webhooks]
      summary: Update URL / events / active flag
      security: [{ bearerJwt: [] }]
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses: { "200": { description: Updated } }
    delete:
      tags: [Developer — Webhooks]
      summary: Delete a webhook endpoint
      security: [{ bearerJwt: [] }]
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses: { "200": { description: Deleted } }

  /api/v1/whm/developer/webhooks/{id}/rotate:
    post:
      tags: [Developer — Webhooks]
      summary: Rotate the signing secret (returns new secret once)
      security: [{ bearerJwt: [] }]
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses: { "200": { description: New signing_secret returned } }

  /api/v1/whm/developer/webhooks/{id}/test:
    post:
      tags: [Developer — Webhooks]
      summary: Fire a `webhook.test` event to the endpoint URL
      security: [{ bearerJwt: [] }]
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
      responses: { "200": { description: "Synchronous send; response includes status_code + delivery_id" } }

  /api/v1/whm/developer/webhooks/events:
    get:
      tags: [Developer — Webhooks]
      summary: Catalogue of event keys the panel can fire
      security: [{ bearerJwt: [] }]
      responses: { "200": { description: "Array of {key, label, description, group}" } }

  /api/v1/whm/developer/webhooks/deliveries:
    get:
      tags: [Developer — Webhooks]
      summary: Recent delivery attempts
      security: [{ bearerJwt: [] }]
      parameters:
        - in: query
          name: limit
          schema: { type: integer, default: 50, maximum: 500 }
      responses: { "200": { description: "Delivery history (status_code, response, retries)" } }

  # ── Inbound Webhooks ─────────────────────────────────────────────
  /api/v1/deploy/webhooks/project/{project_id}:
    post:
      tags: [Inbound Webhooks]
      summary: GitHub push receiver for a Deploy Software project
      description: |
        Configure this URL on GitHub (Settings → Webhooks) with
        Content-Type `application/json` and the **webhook_secret** shown
        in the project's Edit modal. The handler verifies the
        `X-Hub-Signature-256` header before triggering a deploy of
        every service whose branch matches the push ref. Returns 200
        even on signature failure to avoid leaking endpoint validity.
      parameters:
        - { in: path, name: project_id, required: true, schema: { type: string } }
      responses:
        "200": { description: Accepted (no body) }
